.search-title {
  text-transform: uppercase;
  margin: 25px 0;
  font-size: 1.5em;
}

.search {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.search-searchForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 var(--size-2xl);
}

.search-input {
  padding: var(--size-s);
  text-align: center;
  border-radius: var(--size-l);
  font-size: var(--size-l);
  text-transform: uppercase;
  margin: var(--size-l) 0;
}

.search-filtersContainer {
  background-color: white;
  padding: var(--size-s);
  border-radius: var(--size-s);
}

.search-filters {
  grid-template-columns: repeat(2, minmax(0, 1fr));
  display: grid;
}

.search-filterItem {
  border-radius: var(--size-l);
  font-size: var(--size-m);
  margin: var(--size-2xs);
  padding: var(--size-s);
  text-transform: uppercase;
}

.search-cta {
  margin: var(--size-m) var(--size-2xs) 0;
  padding: var(--size-s);
  border-radius: var(--size-l);
  width: 98%;
}
.search-reset {
  margin: var(--size-m) var(--size-2xs) 0;
  padding: var(--size-s);
  width: 98%;
  background-color: transparent;
  border: none;
  color: black;
}
